Source: udpgame
Section: games
Priority: extra
Maintainer: Martti Rannanjärvi <martti.rannanjarvi@iki.fi>
Build-Depends: debhelper (>= 8.0.0), libglew-dev, libsdl-image1.2-dev, libglm-dev, libprotobuf-dev
Standards-Version: 3.9.4
Homepage: https://github.com/mrannanj/udpgame

Package: udpgame
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: udpgame
 udpgame
